* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

body {
  margin: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f8f8f8;
}

.card {
  width: 21.8rem;
  height: 15rem;
}

.imgInput{
  width: 100%;
  height: 10rem;
  display: inline;
}

[data-js="imgOutput"] {
  height: 75%;
}

